@media (max-width: 1910px) {
  .team__circle-container {
    padding-bottom: 50px;
  }
  .team__item {
    position: relative;
    margin-bottom: 20px;
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
  }
  .team__circle {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1543px) {
  .services {
    flex-direction: column;
  }
  .services__circle {
    display: none;
  }
  .services__switch {
    top: 26%;
  }
  .services__img {
    width: 100%;
    height: 765px;
  }
  .blog__sub-title {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 12px;
  }
  .blog__title {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .blog__paragraph {
    font-size: 11px;
  }
}

@media (max-width: 976px) {
  .blog__content:before {
    border: 45px solid transparent;
    border-bottom-color: #e74e3e;
    border-top: 0;
    top: -45px;
    transform: translateY(0) translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 1212px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .touch__item:first-child {
    margin-left: 15px;
  }
  .touch__item:nth-child(2) {
    margin-right: 15px;
  }
}

@media (max-width: 1023px) {
  .nav-main__item {
    margin-bottom: 30px;
  }
  .header-main__sub-title {
    font-size: 20px;
  }
  .header-main__title {
    font-size: 48px;
  }
  .history__pc {
    margin-bottom: 40px;
  }
  .description-title {
    justify-content: center;
  }
  .history__description-paragraph {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .nav__item {
    margin-bottom: 20px;
  }
  .nav__item:after {
    content: none;
    margin-left: 0;
  }
  .nav__item_m {
    margin-left: 0;
  }
  .study__content {
    position: static;
  }
  .achievements__item:nth-child(1),
  .achievements__item:nth-child(2),
  .achievements__item:nth-child(3) {
    margin-bottom: 50px;
  }
  .integrations__brand {
    margin-bottom: 20px;
  }
  .blog__container {
    justify-content: center;
  }
  .blog__img {
    width: 480px;
  }
  .blog__content {
    width: 480px;
  }
  .blog__paragraph {
    font-size: 8px;
  }
  .touch__item:first-child {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .touch__item:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .nav-main__item_visible {
    display: none;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    font-size: 26px;
  }
  .sub-title {
    font-size: 10px;
  }
  .header-main__sub-title {
    font-size: 15px;
  }
  .header-main__title {
    font-size: 38px;
  }
  .header-main__paragraph {
    font-size: 10px;
  }
  .services__switch {
    left: unset;
    right: 25px;
    width: 10px;
  }
  .achievements__item:nth-child(4) {
    margin-bottom: 50px;
  }
  .touch__content {
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .touch__title {
    font-size: 18px;
  }
  .touch__data {
    font-size: 14px;
  }
  .touch__data_number {
    text-align: left;
    max-width: 127px;
  }
  .touch__btn {
    margin-left: 0;
    align-self: unset;
  }
  .footer-main__title {
    font-size: 26px;
  }
  .footer-main__sub-title {
    font-size: 12px;
  }
}

@media (max-width: 531px) {
  .history__pc {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .history__description-paragraph {
    font-size: 10px;
  }
}

@media (max-width: 497px) {
  .header-main__btn_left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services__paragraph {
    font-size: 10px;
  }
  .services__title {
    font-size: 12px;
  }
}