@import "fonts"; // шрифты, которых нету в google Fonts
$font-stack: 'Source Sans Pro', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-main {
  max-width: 946px;
  margin: 0 auto;
}

.title {
  font-family: $font-stack;
  font-size: 51px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.title__word {
  color: #fc635e;
}

.btn-tr {
  width: 205px;
  height: 56px;
  background-color: transparent;
  border: 2px solid #fe8682;
  border-radius: 8px;
  font-family: $font-stack;
  font-weight: 300;
  color: #fe8682;
  font-size: 24px;
}

.next {
  text-align: center;
  padding-bottom: 28px;
}

.next__slider {
  cursor: pointer;
}

.section-title {
  font-family: $font-stack;
  font-size: 28px;
  font-weight: 600;
  color: #adadad;
  text-transform: uppercase;
  max-width: 100%;
  margin-bottom: 22px;
  text-align: center;
}

.sub-title {
  max-width: 511px;
  margin: 0 auto;
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 300;
  color: #adadad;
  line-height: 26px;
}

.section-title_border {
  border-bottom: 1px solid #adadad;
}

.section-title__word {
  color: #fc635e;
}

/*header*/
.header-main {
  background-image: url("../img/header/header-main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: $font-stack;
  margin-bottom: 68px;
}

/*nav-main*/
.header-main__nav-main {
  padding-top: 23px;
  margin-bottom: 190px;
}

.nav-main {
  color: #fff;
}

.nav-main__logo {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  font-family: "GothamPro", sans-serif;
}

.logo__letter {
  width: 59px;
  height: 68px;
  margin-right: 17px;
  text-align: center;
  line-height: 68px;
  white-space: nowrap;
  font-size: 35px;
  color: #0c252d;
  background-image: url("../img/header/header-main__logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*burger menu*/
.burger-menu {
  display: none;
}

.burger-menu__button {
  position: fixed;
  top: 8px;
  left: 7px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2a2a2a;
}

.burger-menu__lines,
.burger-menu__lines:after,
.burger-menu__lines:before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #fff;
}

.burger-menu__button:hover .burger-menu__lines {
  filter: brightness(0.7);
  transition: 0.9s ease all;
}

.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.9s ease all;
}

.burger-menu__lines:before {
  content: "";
  top: -12px;
}

.burger-menu__lines:after {
  content: "";
  top: 12px;
}

.burger-menu_active {

  .burger-menu__lines {
    background-color: transparent;
  }

  .burger-menu__lines:before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger-menu__lines:after {
    top: 0;
    transform: rotate(-45deg);
  }

  .burger-menu__nav {
    left: 0;
    transition: left ease 0.9s;
  }

  .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.burger-menu__button_bg {
  background-color: #2a2a2a;
  height: 100%;
  width: 35%;
}

.burger-menu__nav {
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 35%;
  background-color: #2a2a2a;
  left: -100%;
  transition: left ease 0.9s;
  .nav-main__item {
    margin-top: 100px;
  }

  .nav-main__link {
    font-size: 40px;
  }
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

/*burger-menu*/
.nav-main__link {
  padding-bottom: 7px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: 0.9s ease all;
}

.nav-main__link:hover {
  color: #fe8682;
  border-bottom: 3px solid #fe8682;
  transition: 0.9s ease all;
}

/*nav-main*/

/*header-main__content*/
.header-main__content {
  margin-bottom: 240px;
  text-align: center;
}

.header-main__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__block {
  width: 15.85623678646934%; //150px
  height: 8px;
  background-color: #504d4d;
}

.title__block_left {
  margin-right: 12px;
}

.title__block_right {
  margin-left: 12px;
}

.header-main__sub-title {
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.header-main__button {
  position: relative;
}

.header-main__button:after {
  content: "";
  position: absolute;
  height: 332px;
  width: 13%;
  top: 15px;
  margin-left: 10px;
  background-image: url("../img/header/mouse.png");
  background-repeat: no-repeat;
}

/*header-main__content*/
/*header*/

/*receive*/
.receive {
  text-align: center;
  font-family: $font-stack;
}

.receive__sub-title {
  margin-bottom: 84px;
}

.receive__container {
  margin-bottom: 51px;
}

.receive__img {
  height: 119px;
  width: 102px;
  margin: 0 auto;
  margin-bottom: 24px;
  line-height: 142px;
  background-image: url("../img/receive/receive__img_red.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.9s ease all;
}

.receive__svg {
  fill: #fff;
  transition: 0.9s ease all;
}

.receive__img:hover {
  background-image: url("../img/receive/receive__img_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.9s ease all;
}

.receive__img:hover .receive__svg {
  fill: #fc635e;
  transition: 0.9s ease all;
}

.receive__header {
  margin-bottom: 23px;
  text-transform: uppercase;
  color: #868686;
  font-weight: 600;
  font-size: 20px;
}

.receive__header:after {
  content: "";
  display: block;
  width: 58px;
  height: 2px;
  margin: 0 auto;
  margin-top: 12px;
  background-color: #adadad;

}

.receive__paragraph {
  max-width: 210px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #adadad;
}

/*receive*/

/*business*/
.business {
  margin-bottom: 52px;
  text-align: center;
  background-image: url("../img/business/business_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.business__container {
  padding-top: 91px;
}

.business__content {
  padding-top: 125px;
  margin-bottom: 52px;
  border: 8px solid rgba(173, 173, 173, 0.1);
}

.business__title {
  margin-bottom: 54px;
}

.business__btn {
  margin-bottom: 100px;
}

/*business*/

/*process*/
.process {
  text-align: center;
}

.process__sub-title {
  margin-bottom: 160px;
}

.process__container {
  position: relative;
  height: 570px;
  max-width: 800px;
  margin: 0 auto;
}

.process__container_visible-lg {
  display: none;
}

.process__item {
  position: absolute;
  height: 208px;
  width: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.process__item_s {
  height: 321px;
  width: 278px;
}

.process__step1 {
  background-image: url("../img/process/step1.png");
}

.process__step2 {
  top: 54px;
  left: 277px;
  background-image: url("../img/process/step2.png");
}

.process__step3 {
  top: -101px;
  right: 253px;
  background-image: url("../img/process/step3.png");
}

.process__step4 {
  top: -30px;
  right: -20px;
  background-image: url("../img/process/step4.png");
}

.process__step-img {
  top: 153px;
  left: 40px;
  background-image: url("../img/process/process__step_vahue.png");
}

.process__img {
  position: absolute;
}

.process__img_p1 {
  top: 16%;
  left: -8%;
}

.process__img_p2 {
  top: 19%;
  left: -6%;
}

.process__img_p3 {
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}

.process__header {
  font-family: $font-stack;
  font-size: 24px;
  font-weight: 600;
  color: #adadad;
  text-transform: uppercase;
  max-width: 100%;
  margin-bottom: 15px;
}

.process__header:after {
  content: "";
  display: block;
  width: 77px;
  height: 2px;
  margin: 0 auto;
  margin-top: 7px;
  background-color: #adadad;
}

.process__number {
  color: #fc635e;
}

.process__paragraph {
  max-width: 125px;
  text-align: left;
  margin: 0 auto;
  font-family: $font-stack;
  font-size: 15px;
  font-weight: 300;
  color: #adadad;
  line-height: 17px;
}

.process__paragraph_w {
  max-width: 196px;
}

/*process*/

/*works*/
.works {
  text-align: center;
}

.works__section {
  margin-bottom: 138px;
}

.works__section:first-child {
  padding-top: 64px;
}

.works__section_bg {
  background-color: #f2f2f2;

  .section-title {
    margin-bottom: 67px;
  }
}

.works__item {
  margin-bottom: 51px;
}

.works__description {
  text-align: left;
}

.works__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: $font-stack;
  color: #868686;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
}

.works__header_block-left:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #fc635e;
  margin-right: 12px;
}

.works__header_block-right:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #fc635e;
  margin-left: 12px;
}

.works__paragraph {
  max-width: 363px;
  margin-bottom: 41px;
  font-family: $font-stack;
  color: #9e9898;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.works__button {
  width: 167px;
  height: 48px;
}

.btn-more {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 300;
  background-color: #fc635e;
  border-radius: 10px;
  border: none;
  color: #f2f2f2;
}

.works__description_right {
  text-align: right;
}

.works__paragraph_right {
  margin-left: auto;
}

.works__header_right {
  justify-content: flex-end;
}

.works__section_middle {
  margin-bottom: 0;
}

.works__section_bottom {
  padding-top: 140px;
}

/*works*/

/*portfolio*/
.portfolio {
  font-family: $font-stack;
  text-align: center;

  .section-title {
    margin-bottom: 40px;
  }
}

.portfolio__nav {
  margin-bottom: 50px;
}

.nav {
  border-top: 2px solid #adadad;
  border-bottom: 2px solid #adadad;
}

.nav__item {
  padding: 23px 0;
  font-weight: 300;
  font-size: 20px;
  color: #fc635e;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__item:after {
  content: "/";
  margin-left: 32%;
  margin-right: -32%;
}

.portfolio__photo-container {
  max-width: 97%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.portfolio__photo {
  position: relative;

  .portfolio__img {
    width: 100%;
    height: 100%;
  }
}


.portfolio__hover { /*я долбаеб и не могу сделать нормально*/
  position: absolute;
  top: 0;
  z-index: 1;
  width: 96.5%;
  height: 100%;
  opacity: 0;
  transition: 0.9s ease all;
  cursor: pointer;
}

.portfolio__hover-name {
  margin: 20px 0 37px 20px;
  text-align: left;
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

.portfolio__hover-name_m {
  margin: 20px;
  text-align: center;
}

.portfolio__hover-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fa574d;
  opacity: 0;
  z-index: -1;
  transition: 0.9s ease all;
}

.portfolio__hover-bg_w {
  width: 96.5%;
}

.portfolio__photo:hover .portfolio__hover-bg {
  opacity: 0.75;
  transition: 0.9s ease all;
}

.portfolio__photo:hover .portfolio__hover {
  opacity: 1;
  transition: 0.9s ease all;
}

.portfolio__photo_m {
  margin-bottom: 16px;
}

.nav__item_content:after {
  content: none;
}


.portfolio__button {
  width: 193px;
  height: 53px;
  margin-bottom: 26px;
}

/*portfolio*/

/*team*/
.team {
  margin-bottom: 165px;
}

.team__container {
  max-width: 845px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.team__main {
  background-color: #f2f2f2;
  margin-bottom: 52px;
  padding-top: 53px;
}

.section-title_m {
  margin-bottom: 70px;
}

.team__item {
  font-family: $font-stack;
  text-align: center;
  color: #565656;
}

.team__img {
  margin-bottom: 27px;
}

.team__name {
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 600;
}

.team__first-name {
  color: #fc635e;
}

.team__work {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 300;
}

.team__social-link_m {
  margin-right: 15px;
}

.team__secondary {
}

.team__quotes {
  height: 90px;
  width: 79px;
  margin: 0 auto;
  margin-bottom: 74px;
  text-align: center;
  line-height: 90px;
  background-image: url("../img/team/team__quotes_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.team__about {
  font-family: $font-stack;
  margin-bottom: 50px;
}

.team__secondary-name {
  color: #565656;
}

.team__paragraph {
  max-width: 306px;
  color: #9b9b9b;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
}

/*team*/

/*map*/
.map {
  font-size: 0;
}

.map__container {
  position: relative;
}

.map__address {
  position: absolute;
  top: -32%;
  left: 50%;
  transform: translateX(-50%);
  height: 246px;
  width: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-stack;
  color: #fff;
  background-image: url("../img/map/map__adress.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.map__header {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}

.map__text {
  max-width: 158px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}

.map__frame {
  width: 100%;
}

/*map*/

/*footer*/
.footer-main {
  background-image: url("../img/footer/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__logo {
  justify-content: center;
  padding: 80px 0;
}

.footer__logo_c {
  color: #fff;
  font-size: 31px;
}

.footer__logo_w {
  width: 80px;
  height: 92px;
  line-height: 92px;
  font-size: 47px;
}

/*footer*/
