* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  width: 150px;
  height: 55px;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #061e37;
  border: none;
  border-radius: 5px;
  box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);

  &_white {
    margin-right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #061e37;
    background-color: #ffffff;
  }
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #061e37;
}

.sub-title {
  max-width: 558px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #b0bec5;
}

.sub-title_color {
  color: #061e37;
}

/*nav*/
.nav {
  position: relative;

  &__burger-icon {
    position: absolute;
    display: none;
    top: 100px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
      fill: #061e37;
    }
  }


  &__burger-menu {
    position: fixed;
    top: -1000px;
    left: 0;
    z-index: 99;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../img/header/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s ease all;
  }

  &__burger-menu_active {
    top: 0;
    display: flex;
    transition: 1s ease all;
  }

  &__burger-close {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
      fill: #061e37;
    }
  }

  &__item-container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
  }

  &__svg {
    margin-right: 10px;
  }

  &__logo-letter {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__logo-letter_bold {
    font-weight: 700;
  }

  &__link {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease all;
  }


  &__link:hover {
    color: #061e37;
    transition: 0.3s ease all;
  }

  &__link_hover:hover {
    color: #fff;
  }

  &__btn {
    width: 80px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
  }
}

/*nav*/

/*header*/
.header-main {
  padding-bottom: 187px;
  margin-bottom: 100px;
  background-image: url("../img/header/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__nav {
    padding-top: 50px;
    margin-bottom: 168px;
  }

  &__title {
    margin-bottom: 30px;
    max-width: 475px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__sub-title {
    margin-bottom: 40px;
    max-width: 584px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }

  &__video-container {
    display: flex;
    align-items: flex-start;

  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 1px solid #061e37;
    border-radius: 5px;
    background-image: url("../img/header/header__video.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: 115px;
    margin-bottom: 21px;
    border-radius: 5px;
    background-color: #061e37;
    cursor: pointer;
  }

  &__arrow {
    border: 7px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
  }

  &__video-title {
    margin-bottom: 111px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #061e37;
    text-transform: uppercase;
    cursor: pointer;
  }
}

/*header*/

/*useful*/
.useful {
  margin-bottom: 100px;
  text-align: center;

  &__title {
    margin-bottom: 17px;
  }

  &__tool {
    margin-bottom: 23px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #b0bec5;
  }

  &__sub-title {
    margin-bottom: 97px;
  }

  &__container {
    margin-bottom: 80px;
  }

  &__img {
    margin-bottom: 45px;
    width: 70px;
    height: 70px;
  }

  &__item-title {
    margin-bottom: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #061e37;
  }

  &__paragraph {
    max-width: 346px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #78909c;
  }

  &__btn {
    width: 150px;
    height: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #1de9b6;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);
  }
}

/*useful*/


/*achievements*/
.achievements {
  display: flex;
  margin-bottom: 100px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 44px 0;
    width: 100%;
  }

  &__item_bg-first {
    background-color: #80d8ff;
  }

  &__item_bg-second {
    background-color: #82b1ff;
  }

  &__item_bg-third {
    background-color: #b388ff;
  }

  &__item_bg-fourth {
    background-color: #ea80fc;
  }

  &__img {
    width: 25px;
    height: 25px;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    line-height: 25px;
  }
}

/*achievements*/

/*services*/
.services {
  text-align: center;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__sub-title {
    margin-bottom: 50px;
  }

  &__item {
    width: 802px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__visible {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 26px;
  }

  &__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #061e37;
    text-transform: uppercase;
  }

  &__arrow {
    margin-left: auto;
    border: 8px solid transparent;
    border-top-color: #061e37;
    border-bottom: 0;
  }

  &__hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
  }

  &__paragraph {
    max-width: 471px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #061e37;
    line-height: 20px;
    text-align: left;
  }

  &__paragraph-item:first-child {
    margin-bottom: 40px;
  }
}

/*services*/

/*statements*/
.statements {
  margin-bottom: 100px;
  padding: 87px 0;
  background-image: url("../img/statements/statements__bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    //margin-top: 138px;
  }

  &__title {
    max-width: 445px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
  }

  &__sub-title {
    max-width: 515px;
    margin-bottom: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #fff;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-bottom: 69px;*/
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__text-container {
    padding: 30px;
    padding-right: 65px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);
  }

  &__img {
    margin-right: 50px;
  }


  &__author {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #061e37;
  }

  &__paragraph {
    max-width: 558px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #78909c;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 60%;
    top: -24px;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    position: absolute;
    left: 60%;
    top: 422px; /*!*/
  }

  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: none;
  }

  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: none;
  }

  .swiper-container {
    position: static;
    z-index: 99999999999;
    height: 400px;
  }

  &__container {
    position: relative;
  }
}


/*statements*/

/*team*/
.team {
  margin-bottom: 90px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
  }

  &__sub-title {
    margin-bottom: 85px;
  }

  &__circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 33px;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.75);
  }

  &__shadow {
    position: absolute;
    width: 81%;
    height: 81%;
    box-shadow: inset 0 0 50px 0 #000000;
    border-radius: 50%;
  }

  &__img {
    width: 81%;
    height: 81%;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #061e37;
  }

  &__paragraph {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #90a4ae;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__links {
    margin-right: 35px;
  }

  &__links:last-child {
    margin-right: 0;
  }

  &__owl-carousel {
    position: relative;
  }

  .owl-theme .owl-nav {
    position: absolute;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-top: 0;
    transform: translateX(-50%);
  }


  &__nav {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    border-radius: 50%;
    transition: 0.3s ease all;
  }

  .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
  }

  .owl-theme .owl-nav [class*=owl-]:hover &__nav {
    opacity: 1;
    transition: 0.3s ease all;
  }

}

/*team*/

/*contact*/
.contact {
  text-align: center;
  background-color: #fafafa;

  &__title {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  &__sub-title {
    margin-bottom: 52px;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__input {
    height: 50px;
    width: 280px;
    margin-bottom: 20px;
    padding: 0 11px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #061e37;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #061e37;
  }

  &__input::placeholder {
    color: #061e37;
  }

  &__textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 11px 0 11px;
    font-family: 'Raleway', sans-serif;
    color: #061e37;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #061e37;
    resize: none;
  }

  &__textarea::placeholder {
    color: #061e37;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  &__checkbox:checked ~ &__mark:after {
    display: block;
  }

  &__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    border: 2px solid #061e37;
  }

  &__mark:after {
    content: "";
    display: none;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  &__label {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #061e37;
    font-weight: 600;
    cursor: pointer;
  }

  &__btn {
    width: 130px;
    height: 50px;
    background-color: #1de9b6;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
}

/*contact*/

/*footer*/
.footer-main {
  background-color: #061e37;

  &__nav {
    padding-top: 100px;
    margin-bottom: 50px;
  }

  &__item-container {
    padding-bottom: 109px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__about {
    margin-right: 20px;
  }

  &__link {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
  }

  &__about:last-child {
    margin-right: 0;
  }

  &__about:last-child:after {
    content: none;
  }

  &__about:after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__social-link {
    margin-right: 20px;
  }

  &__social-link:last-child {
    margin-right: 0;
  }
}

/*footer*/