@media (max-width: 1216px) {
    .achievementsItem:last-child {
        border-top: 1px solid #fff;
        border-right: none;
    }
    .servicesItem:nth-child(4) {
        border-bottom: 1px solid #e5e5e5;
    }
    .services-container .row .flexItem {
        justify-content: space-around;
    }
    .blog .row .flexItem {
        justify-content: space-around;
    }
    .footer-container .row .flexItem {
        justify-content: space-around;
    }
}
@media (max-width: 991px) {

}