* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F9F6F1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1382px;
    margin: 0 auto;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: #D7B399;
    border: none;
}

.section-title {
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

.subSection-title {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.subSection-subtitle {
    font-size: 21px;
    color: #fff;
    font-weight: 300;
}

/* header*/
/* nav*/
.nav-container {
    text-align: center;
}

.navItem {
    display: inline-block;
    padding: 61px 35px;
}
.navItemTriangle {
    position: relative;
}
.navItemTriangle:after {
    content: '';
    position: absolute;
    top: 67px;
    right: 22px;
    border: 3px solid transparent;
    border-top: 5px solid #212121;
}
.logo {
    display: inline-block;
}

.navItemLink {
    font-weight: 500;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
}

.logo {
    padding: 56px 90px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.logoImg {
    padding-right: 20px;
}

.basket {
    padding-left: 101px;
    padding-bottom: 5px;
}

.countBasket {
    position: relative;
    width: 33px;
    height: 16px;
    display: inline-block;
    margin-left: 16px;
    background-color: #D7B399;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.countBasket:before {
    content: '';
    position: absolute;
    right: 33px;
    border: 8px solid transparent;
    border-right: 13px solid #D7B399;
}
/* nav*/
/*header Content*/
.headerContent {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 130px;
}

.headerItemOne {
    margin-bottom: 90px;
    vertical-align: middle;
}

.headerTitle {
    padding-bottom: 35px;
    font-size: 30px;
    color: #000;
    letter-spacing: 0.04em;
}

.headerSubTitle {
    padding-bottom: 55px;
    font-size: 55px;
    font-weight: bold;
    color: #000;
}

.btnHeader {
    width: 240px;
    height: 55px;
}

.headerItemOne , .headerItemTwo {
    display: inline-block;
}

.headerItemTwo {
    position: relative;
    height: 550px;
    width: 866px;
    vertical-align: middle;
    background-image: url("../img/foot.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.headerProduct {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
}

.priceOne {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
}

.priceTwo {
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
}
/*header Content*/

/*header switch*/
.headerSwitch {
    padding-bottom: 55px;
    text-align: center;
}

.switchItem {
    display: inline-block;
    width: 40px;
    height: 7px;
    margin-right: 15px;
    background-color: #CECECE;
}

.switchItem:hover {
    background-color: #D7B399;
    transition: 0.2s ease all;
}

.switchChecked {
    background-color: #D7B399;
}

.switchItem:last-child {
    margin-right: 0;
}

/*header switch*/
/* header*/

/*section.delivery*/

.delivery {
    padding: 80px 0 70px 0;
    margin-bottom: 61px;
    background-color: #212121;
    text-align: center;
}

.deliveryPrice {
    font-weight: normal;
}

.delivery .subSection-title {
    padding-bottom: 23px;
}

/*section.delivery*/

/*section.collection*/
/*gender*/
.gender {
    display: block;
    text-align: center;
}

.genderItem {
    display: inline-block;
    padding-right: 50px;
    text-align: left;
}

.genderItemContent {
    display: inline-block;

}

.genderHeader {
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.genderHeader span {
    font-weight: 500;
}

.genderDesc {
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.genderImgWrap {
    float: right;
    margin-top: 20px;
}

.btnGender {
    display: block;
    width: 80px;
    height: 30px;
}

/*gender*/
/*collectionContent*/

.collectionContent {
    margin-bottom: 150px;
    text-align: center;
    background-color: #F9F6F1;
}

.collectionItem {
    display: inline-block;
    position: relative;
}

.collectionItemName {
    position: absolute;
    top: 190px;
    right: 155px;
    font-size: 21px;
    text-transform: uppercase;
}

/*collectionContent*/
/* newModel*/

.newModel {
    padding-bottom: 150px;
    text-align: center;
}

.newModelItem {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #D7B399 11%,#F9F6F1 11%, #F9F6F1 89%, #D7B399 89%, #D7B399 100% ) 100% 0 ;
    border-bottom: 3px solid;
}

.newModelItem:nth-last-child(2) {
    margin-right: 0;
}

.newModelBorder{
    width: 100%;
    height: 100%;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, #D7B399 8%,#F9F6F1 8%, #F9F6F1 92%, #D7B399 92%, #D7B399 100% ) 0 100%;
    border-right: 3px solid;
}

.newModelImg {
    padding-bottom: 25px;
}

.nameModelItem {
    padding-bottom: 15px;
    max-width: 140px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.priceModelItem {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
}

.btnNewModel {
    display: block;
    width: 220px;
    height: 55px;
    margin: 0 auto;
}

/* newModel*/
/*section.collection*/
/*section.present*/
.present {
    padding: 72px;
    margin-bottom: 150px;
    background-color: #212121;
    text-align: center;
}

.present .subSection-title {
    display: inline;
    padding-right: 60px;
}

.inputPresent {
    margin-right: 35px;
}

.btnPresent {
    width: 185px;
    height: 40px;
}

.inputPresent {
    width: 255px;
    height: 40px;
    padding: 0 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

/*section.present*/
/*footer*/

.footerMain {
    background-color: #212121;
    color: #fff;
    text-align: center;
}

.footerLogo {
    padding-right: 143px;
}

.footerLogoHeader {
    padding-bottom: 32px;
    margin-top: 73px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.footerParagraph {
    padding-bottom: 78px;
    max-width: 200px;
    font-size: 14px;
    line-height: 22px;
}

.footerColumn {
    display: inline-block;
    margin-right: 80px;
    text-align: left;
}

.footerColumn:last-child {
    margin-right: 0;
}

.footerColumnTitle {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.footerListItem {
    padding-bottom: 10px;
}

.footerListItem a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    color: #CBCFD4;
}

.footerListImg {
    margin-right: 5px;
}

.copyright {
    padding: 27px 20px;
    background-color: #F9F6F1;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

.copyrightItem {
    display: inline-block;
    padding-right: 656px;
}

.copyrightItem:last-child {
    padding-right: 0;
}

.politic {
    text-decoration: none;
    color: #212121;
}

/*footer*/